.overlayText {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
  }
  
  #topText {
    color: white;
    font-size: 20px;
    align-self: center;
  }

  
  #video {
    border: 50px solid red;
    box-sizing: 20%;
    
  }